# Development
__pycache__/
*.py[cod]
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Project
config/user_config.json
output_files/*
!output_files/.gitkeep

# Media
*.wav
*.mp3
*.webm
*.mkv
*.mp4

# Logs
*.log